:root {
  --image-size-xs: 150px;
  --image-size-s: 200px;
  --image-size-m: 250px;
  --image-size-l: 300px;
  --image-size-xl: 350px;
  --image-size-2xl: 400px;
  --image-size-3xl: 450px;

  --color1-orange: #ff914d;
  --color2-dark: black;
  --color3-text: white;
  --color4-background: rgba(0, 0, 0, 0.907);
  /* --color4-background: null */
  /* Orange - rgb(255,145,77) */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

*,
::before,
::after {
  margin: 0;
  line-height: calc(1em + 0.7rem);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}
html {
  scroll-behavior: smooth;
  background-color: var(--color4-background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

.alan_font_color {
  color: var(--color1-orange);
}

.alan_background_color {
  background-color: black;
}
