/* .blog__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: var(--color1-orange);
    font-weight: 600;
    font-size: var(--size-2xl);
}
.blog-header__border {
    display: block;
    justify-content: center;
    border-top: 1px solid white;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 50%;
} */

/* Written Content */
/* h1 {
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    font-size: var(--size-4xl);
}

p {
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: var(--size-sm);
}

.average_time, .date {
    margin: 0;
    padding: 0;
    text-align: center;
} */
/* Written Content */

/* Blog Styling */
.blog_box_style {
    /* box-shadow: rgba(155, 114, 60, 0.25) 0px 50px 100px -20px, rgba(141, 93, 93, 0.233) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
/* 
    box-shadow: rgba(240, 130, 46, 0.4) -5px 5px, rgba(240, 211, 46, 0.3) -10px 10px, rgb(221, 131, 27) -15px 15px, rgba(240, 179, 46, 0.1) -20px 20px, rgba(240, 191, 46, 0.05) -25px 25px; */

    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
.blog_box_style:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(255, 145, 77, 0.25),
    0 10px 10px rgb(255, 145, 77, 0.22), 0 0 120px -10px var(--color1-orange);
}  
.italics {
  font-style: italic;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.25rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Blog Styling */

/* xs */
@media (min-width: 475px) {
  .blog__header {
    font-size: var(--size-3xl);
  }

  p {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .blog__header {
    font-size: var(--size-4xl);
  }

  p {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: var(--size-lg);
  }
}

/* md */
@media (min-width: 768px) {
  .blog__header {
    font-size: var(--size-5xl);
  }

  p {
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: var(--size-xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  p {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: var(--size-2xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  p {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  p {
    margin-left: 20rem;
    margin-right: 20rem;
  }
}
