.logo {
  width: var(--image-size-s);
}

.header_title {
  font-size: var(--size-2xl);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color2-dark);
  width: 100%;
  position: relative;
  z-index: 9999;
  position: sticky;
  top: 0;
}

.header__menu {
  display: none;
}

.header__bars {
  color: var(--color3-text);
  width: var(--size-3xl);
  height: var(--size-3xl);
  display: block;
  position: sticky;
  top: 0;
}

/*Hover Animation */
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font: bold 1.5rem;
  text-transform: uppercase;
  color: grey;
}
ul li {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .3s;
}

ul li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 2px) 0 0 0; /* 3px = the thickness */
  background: var(--color1-orange);
  scale: 0 1;
  transition: .3s, translate 0s .3s;
}
ul:hover li:before {
  scale: 1;
}
ul li:hover:before {
  translate: 0;
  transition: .3s;
}
ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: .2s .2s,scale 0s .4s;
}
ul:hover li:hover ~ li:before {
  translate: -100% 0;
  transition: .2s .2s,scale 0s .4s;
}
/*Hover animation on LI 

/* xs */
@media (min-width: 475px) {
  .logo {
    width: var(--image-size-xs);
  }
  .header_title {
    font-size: var(--size-2xl);
  }
  .header__bars {
    color: var(--color3-text);
    width: var(--size-4xl);
    height: var(--size-4xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .logo {
    width: var(--image-size-s);
  }
  .header_title {
    font-size: var(--size-3xl);
  }
  .header__bars {
    color: var(--color3-text);
    width: var(--size-5xl);
    height: var(--size-5xl);
  }
}

/* md */
@media (min-width: 768px) {
  .logo {
    width: var(--image-size-s);
  }
  .header_title {
    font-size: var(--size-3xl);
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1.3em;
  }

  .header__link {
    color: var(--color3-text);
    text-decoration: none;
    letter-spacing: -0.05em;
    font-size: var(--size-m);
    font-weight: 600;
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--color1-orange);
  }

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .logo {
    width: var(--image-size-s);
  }

  .header_title {
    font-size: var(--size-3xl);
  }

  .header__link {
    font-size: var(--size-l);
  }
}

/* xl */
@media (min-width: 1280px) {
  .logo {
    width: var(--image-size-m);
  }

  .header_title {
    font-size: var(--size-4xl);
  }

  .btn {
    font-size: var(--size-xl);
  }

  .header__link {
    font-size: var(--size-xl);
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .logo {
    width: var(--image-size-m);
  }

  .header_button {
    font-size: var(--size-2xl);
  }

  .header__link {
    font-size: var(--size-2xl);
  }

  .header_title {
    font-size: var(--size-5xl);
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }
}

@media (min-width: 2560px) {
  .logo {
    width: var(--image-size-m);
  }

  .header_button {
    font-size: var(--size-2xl);
  }

  .header_title {
    font-size: var(--size-6xl);
  }

  .header__link {
    font-size: var(--size-2xl);
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }
}
