.home_body {
        background-image: url('/5075841.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-top: -5px;
        margin-left: -5px;
}

@media (max-width: 600px) {
    .home_body {
        background-size: auto 100%;
    }
}

@media (min-width: 601px) {
    .home_body {
        background-size: cover;
    }
}

